@charset "utf-8";
body{
    background-color: black;
}
main {
    width: 700px;
  
    margin: auto;
    background-color:black;    
font-family: "Lucida Handwriting", cursive;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 15px;
    grid-area: a;
    text-align: center;
    
  }

  .pokemon {
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    color:white;
    background: rgba(6, 169, 152, 0.57);
    
   
  }

  header {
    text-align: center;
    color:white;
    border:2px solid white;
    background: rgba(6, 169, 152, 0.57);
    
}

.pokemon img {
    width:100%;
}

.kereso {
  margin:50px;
}
